.modalConnect {
    box-sizing: border-box;
    width: 300px;
    padding: 1.5rem 0;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    position: absolute;
    right: -1px;
    top: 128px;


    &_item {
       
        display: flex;
        padding: 0.5rem 0 0.5rem 0.4rem;
        margin: 0.8rem;
    }

    &_link {
        margin-left: 0.8rem;
     text-decoration: none;
     color: rgb(61, 60, 60);   
    }
   
}